@model ProductoApp.Models.Product

<<<<<<< HEAD
<h2>¿Estás seguro de eliminar este producto?</h2>

=======
<h2>Eliminar Producto</h2>

<p>¿Seguro que quieres eliminar este producto?</p>
>>>>>>> 52af90ac25bab5a8510ede6965e27fbae4fa6cfb
<div>
    <h4 id="ProductName">@Model.Name</h4>
    <p><strong>Precio:</strong> @Model.Price</p>
    <p><strong>Stock:</strong> @Model.Stock</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/Products/Index" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
